# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#file storage dir
storage/ 

# local run batch
*.bat

# npp backups
*.bak

# archives, just in case
*.7z
*.zip

# avoid updating the config
*.yaml

# generated feed
*.xml

# SQLite data files
*.db

# emacs ignore
.projectile

# emacs backups
*~

